@using System.Reflection
@inject IStringLocalizerFactory LocalizerFactory

@{
    var Localizer = LocalizerFactory.Create("SharedResource", Assembly.GetExecutingAssembly().GetName().Name);
    ViewData["Title"] = @Localizer["Occupation_Master"];
}
<style>
    .modal-dialog {
        max-width: 600px !important;
    }

    #tblOccupation th:nth-child(2),
    #tblOccupation th:nth-child(3),
    #tblOccupation td:nth-child(2),
    #tblOccupation td:nth-child(3) {
        text-align: center !important;
        white-space: nowrap;
        width: 1%; /* 👈 important: extra space remove */
    }


    #tblOccupation td:nth-child(3) {
        padding-right: 5px !important; /* 👈  spacing */
    }

    #tblOccupation td:nth-child(2) {
        padding-right: 8px !important;
    }
</style>


<!-- Subheader -->
<div class="kt-subheader kt-grid__item" id="kt_subheader">

    <div class="kt-subheader__main">

        <div class="kt-subheader__breadcrumbs">

            <a asp-controller="Dashboard" asp-action="Index" class="kt-subheader__breadcrumbs-home">
                <i class="flaticon2-shelter"></i>
            </a>

            <span class="kt-subheader__breadcrumbs-separator"></span>

            <a href="javascript:;" class="kt-subheader__breadcrumbs-link">
                @Localizer["Basic_Settings"]
            </a>

            <span class="kt-subheader__breadcrumbs-separator"></span>

            <a asp-controller="ProfessionMaster" asp-action="Index" class="kt-subheader__breadcrumbs-link">
                @Localizer["Occupation_Master"]
            </a>

        </div>
    </div>
    <div class="kt-subheader__toolbar d-flex">

        <button ="javascript:;" id="btnAddOccupation"
                class="btn btn-brand btn-elevate btn-icon-sm mr-2"
                onclick="occupation.SetForAdd();" title="@Localizer["Add_Occupation"]">
            <i class="fas fa-plus-circle"></i> @Localizer["Add_Occupation"]
        </button>

        <div id="divExport">
            <button type="button"
                    class="btn btn-default btn-icon-sm"
                    onclick="Occupation.Export();" title="@Localizer["Export"]">
                <i class="la la-download"></i> Export
            </button>
        </div>

    </div>

</div>


<!-- Main Portlet -->
<div class="kt-portlet kt-portlet--mobile">

    <div class="kt-portlet__body table-responsive" id="divIDViewOccupation" style="display:none;">
        <!--begin: Datatable -->
        <table class="table table-striped table-hover table-checkable" id="tblOccupation">

            <thead>
                <tr>
                    <th>@Localizer["Occupation"]</th>
                    <th style=" text-align:right;"> @Localizer["Edit"]</th>
                    <th style=" text-align:right;"> @Localizer["Delete"]</th>
                </tr>
            </thead>

            <tbody></tbody>

        </table>
    </div>

</div>
<!-- Add Occupation Modal -->
<div class="modal fade" id="OccupationModal">

    <div class="modal-dialog modal-dialog-centered">

        <div class="modal-content">

            <div class="modal-header">

                <h5 class="modal-title" title="@Localizer["Add_Occupation"]">@Localizer["Add_Occupation"]</h5>

                <button type="button" class="close"
                        data-dismiss="modal"
                        title="@Localizer["Close"]"
                        onclick="occupation.SetForClose();"></button>

            </div>

            <div class="modal-body">

                <form id="frmOccupation">

                    <input type="text"
                           id="txtOccupation"
                           class="form-control"
                           
                           placeholder="@Localizer["Enter_Occupation"]" />

                </form>

            </div>

            <div class="modal-footer">

                <button class="btn btn-success"
                        onclick="occupation.AddUpdate();" title="@Localizer["Save"]">
                    @Localizer["Save"]
                </button>

                <button type="button"
                        class="btn btn-warning"
                        onclick="occupation.ResetData();" title="@Localizer["Reset"]">
                    @Localizer["Reset"]
                </button>

                <button class="btn btn-danger"
                        onclick="occupation.SetForClose();"title="@Localizer["Close"]">
                    @Localizer["Close"]
                </button>

            </div>

        </div>

    </div>

</div>
<form id="__AjaxAntiForgeryForm">
    @Html.AntiForgeryToken()
</form>
<input type="hidden" id="hdnOccupationID" value="0" />
<script id="Grid_Data_Template_tblOccupation" type="text/x-jquery-tmpl">
    <tr>
        <td>${occupatioN_NAME}</td>

        <!-- Edit -->
        <td>
            <i class="fa fa-edit text-primary action-icon" style="cursor:pointer;"
               onclick="occupation.Edit(${occupatioN_ID})"title="@Localizer["Edit"]"></i>
        </td>

        <!-- Delete -->
        <td>
            <i class="fa fa-trash text-danger action-icon"
               onclick="occupation.Delete(${occupatioN_ID},'${occupatioN_NAME}')" title="@Localizer["Delete"]" style="cursor:pointer;"></i>
        </td>
    </tr>
</script>
<script src="~/scripts/OccupationMaster.js"></script>
