@using System.Reflection
@inject IStringLocalizerFactory LocalizerFactory

@{
    var Localizer = LocalizerFactory.Create("SharedResource", Assembly.GetExecutingAssembly().GetName().Name);
    ViewData["Title"] = @Localizer["ICD10_Master"];
}
<style>
    .modal-dialog {
        max-width: 950px !important;
    }


    #tblICD10 th:nth-child(3),
    #tblICD10 th:nth-child(4),
    #tblICD10 td:nth-child(3),
    #tblICD10 td:nth-child(4) {
        text-align: center !important;
        white-space: nowrap;
        width: 15%; /* remove extra space */
    }

    #tblICD10 td:nth-child(4) {
        padding-right: 5px !important; /* spacing */
    }

    #tblICD10 td:nth-child(3) {
        padding-right: 8px !important;
    }

    #tblICD10 td:nth-child(1),
    #tblICD10 th:nth-child(1) {
        width: 25%; /* shrink DSM/ICD code column */
        white-space: nowrap;
    }

    #tblICD10 td:nth-child(2),
    #tblICD10 th:nth-child(2) {
        width: auto; /* remarks takes only needed space */
    }

    #tblICD10 td:nth-child(2),
    #tblICD10 th:nth-child(2) {
        width: auto; /* remarks takes only needed space */
    }
    
</style>

<!-- SUBHEADER -->

<div class="kt-subheader kt-grid__item" id="kt_subheader">

    <div class="kt-subheader__main">

        <div class="kt-subheader__breadcrumbs">

            <a asp-controller="Dashboard" asp-action="Index" class="kt-subheader__breadcrumbs-home">
                <i class="flaticon2-shelter"></i>
            </a>

            <span class="kt-subheader__breadcrumbs-separator"></span>

            <a href="javascript:;" class="kt-subheader__breadcrumbs-link">
                @Localizer["Basic_Settings"]
            </a>

            <span class="kt-subheader__breadcrumbs-separator"></span>

            <a asp-controller="StatusMaster" asp-action="Index" class="kt-subheader__breadcrumbs-link">
                @Localizer["ICD10_Master"]
            </a>

        </div>
    </div>
    <!-- RIGHT SIDE → Buttons -->
    <div class="kt-subheader__toolbar d-flex">

        <button ="javascript:;" id="btnAddICD10"
                class="btn btn-brand btn-elevate btn-icon-sm mr-2"
                onclick="ICD10.SetForAdd();" title="@Localizer["Add_ICD10"]">
            <i class="fas fa-plus-circle"></i> @Localizer["Add_ICD10"]
        </button>

        <div id="divExport">
            <button type="button"
                    class="btn btn-default btn-icon-sm"
                    onclick="StatusMaster.Export();" title="@Localizer["Export"]">
                <i class="la la-download"></i> Export
            </button>
        </div>

    </div>

</div>


<!-- MAIN GRID -->

<div class="kt-portlet kt-portlet--mobile">

    <div class="kt-portlet__body table-responsive"
         id="divIDViewICD10"
         style="display:none;">

        <table class="table table-striped table-hover table-checkable" id="tblICD10">

            <thead>
                <tr>
                    <th title="@Localizer["ICD10_Code"]">
                        @Localizer["ICD10_Code"]
                    </th>

                    <th title="@Localizer["Remarks"]">
                        @Localizer["Remarks"]
                    </th>

                    <th style=" text-align:right;"> 
                        @Localizer["Edit"]
                        
                    </th>
                    <th style=" text-align:right;">
                        @Localizer["Delete"]
                        
                    </th>
                </tr>
            </thead>

            <tbody></tbody>

        </table>

    </div>

</div>

<!-- Add ICD10 Modal -->
<div class="modal fade" id="AddICD10Modal">

    <div class="modal-dialog modal-dialog-centered">

        <div class="modal-content">

            <div class="modal-header">

                <h5 class="modal-title" id="lblICD10Title">
                    @Localizer["Add_ICD10"]
                </h5>

                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        onclick="ICD10.SetForClose();"
                        title="@Localizer["Close"]">
                </button>

            </div>

            <div class="modal-body">

                <form id="frmICD10">

                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    @Localizer["ICD10_Code"]
                                </label>
                                <input type="text"
                                       id="txtICD10Code"
                                       class="form-control"
                                       maxlength="10"
                                       placeholder="@Localizer["Enter_ICD10_Code"]" autocomplete ="off"/>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    @Localizer["Remarks"]
                                </label>
                                <input type="text"
                                       id="txtICD10Remarks"
                                       class="form-control"
                                       maxlength="50"
                                       placeholder="@Localizer["Enter_Remark"]" autocomplete="off"/>
                            </div>
                        </div>

                    </div>

                </form>

            </div>

            <div class="modal-footer">

                <button class="btn btn-success"
                        title="@Localizer["Save"]"
                        onclick="ICD10.AddUpdate();">
                    @Localizer["Save"]
                </button>

                <button type="button"
                        class="btn btn-warning"
                        title="@Localizer["Reset"]"
                        onclick="ICD10.ResetData();">
                    @Localizer["Reset"]
                </button>

                <button class="btn btn-danger"
                        title="@Localizer["Close"]"
                        onclick="ICD10.SetForClose();">
                    @Localizer["Close"]
                </button>

            </div>

        </div>

    </div>

</div>

<!-- Anti-forgery token -->
<form id="__AjaxAntiForgeryForm">
    @Html.AntiForgeryToken()
</form>
<!-- Hidden Field -->
<input type="hidden" id="hdnICD10ID" value="0" />
<script id="Grid_Data_Template_tblICD10" type="text/x-jquery-tmpl">
    <tr>

        <!-- ICD10 Code -->
        <td title="${icD10_CODE}" style="cursor:pointer;">
            ${icD10_CODE}
        </td>

        <!-- Remarks -->
        <td title="${icD10_REMARKS}" style="cursor:pointer;">
            ${icD10_REMARKS}
        </td>

           <!-- Edit -->
    <td style="text-align:center; vertical-align:middle;">
        <i class="fa fa-edit text-primary action-icon"
           onclick="ICD10.Edit(${icD10_ID})"
           title="@Localizer["Edit"]"
           style="cursor:pointer;">
        </i>
    </td>

    <!-- Delete -->
    <td style="text-align:center; vertical-align:middle;">
        <i class="fa fa-trash text-danger action-icon"
           onclick="ICD10.Delete(${icD10_ID},'${icD10_CODE}','${icD10_REMARKS}')"
           title="@Localizer["Delete"]"
           style="cursor:pointer;">
        </i>
    </td>

    </tr>
</script>
<script src="~/scripts/icd10master.js"></script>